::-webkit-scrollbar {
	width:auto;
}
  
::-webkit-scrollbar-track {
	background-color: rgba(238,238,238, 1);
}
  
::-webkit-scrollbar-thumb:active {
	background-color: rgba(168, 168, 168, 1);
}

body {
    background-color: rgba(238,238,238, 1);
    padding: 2%;
    overflow-y: scroll;    
} 

a {
    text-decoration: underline dotted;
}

ul {
    list-style-type: '> ';
}

details > summary {
    list-style-type: '+ ';
}

details[open] > summary {
    list-style-type: '- ';
}

#cowsay {
    font-size: 170%;
}

#old-site-link {
    text-decoration: none;
}

#info {
    font-size: 140%;
    font-family: monospace;
}
