::-webkit-scrollbar {
	width: auto;
}

::-webkit-scrollbar-track {
	background-color: rgba(238, 238, 238, 1);
}

::-webkit-scrollbar-thumb:active {
	background-color: rgba(168, 168, 168, 1);
}

body {
	background-color: rgba(238, 238, 238, 1);
	padding: 2%;
	overflow-y: scroll;
	cursor: default;
}

a {
	text-decoration: none;
	color: deeppink;
	/* color: indigo; */
}

ul {
	list-style-type: '- ';
}

details>summary {
	list-style-type: '? ';
}

summary {
	cursor: pointer;
	font-size: 125%;
}

#name {
	font-size: 300%;
	font-family: monospace;
}

#links {
	font-size: 110%;
	font-family: monospace;
	padding-left: 8px;
}

#info {
	font-size: 140%;
	font-family: monospace;
}

#old-site-link {
	text-decoration: none;
}
