@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
	margin: 0;
	padding: 0;
    overflow: hidden;
	cursor: url('../../media/cursor3.png'), auto;
	/* border: 4px solid rgba(159, 239, 239, 1); */
}

#text-area {
    height: 100vh;
    width: 100vw;
    border: none;
	background-color: rgba(253, 255, 234, 1);    
	cursor: url('../../media/cursor3.png'), auto;
	font-family: 'VT323', monospace;
	font-size: 30px;
    padding: 20px 20px;
	text-decoration: none;
}

#text-area:focus {
    outline: none;
}

#text-area::selection {
    background-color: rgba(0, 105, 0, 1);
	color: rgba(255, 255, 255, 1);
}